<!-- body -->
<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">关于项目</h4>
    </div>
    <div class="panel-body">
      <p class="lead">此为西安电子科技大学计算机学院数据库课程上机demo，有问题请联系作者vantong96@outlook.com。</p>
    </div>
  </div>
  {{>footer}}
</div>